{{!< default}} <header class="main-site-header-private">
    <h1 class="main-title"><a title="{{@site.description}}" href="/">{{@site.title}}</a></h1>
    <h1 class="main-title-device"><a title="{{@site.description}}" href="/">S</a></h1>
    </header>
    <main>
        <section class="post-full">
            <header class="book-full-header">
                <h1 class="book-full-title">Welcome to the Testing grounds.</h1>
                <i class="fas fa-vial book-icon"></i>
            </header>

            <section class="post-full-content">
                <div class="post-content">
                    <p>Thank you for helping me test out my website before release. Your help is most appreciated.</p>
                    <p>I should have given you a password. Please type it in the box below:</p>
                </div>
            </section>

            <form class="gh-signin" method="post" novalidate="novalidate">
                <div class="form-group{{#if error}} error{{/if}}">
                    <span class="gh-input-icon gh-icon-lock">
                        <i class="fas fa-unlock-alt"></i>
                        {{input_password class="gh-input" placeholder="Password"}}
                    </span>
                </div>
                <button class="gh-btn gh-btn-blue gh-btn-block" type="submit"><i class="fas fa-sign-in-alt"></i></button>
            </form>

            <section class="post-full-content">
                <div class="post-content">
                    <blockquote class="request-private"><span>Please don't share this without asking me first!</span><i style="font-size:3.5rem;"class="fa fa-grin-beam-sweat"></i></blockquote>
                    
                </div>
            </section>

            {{#if error}}
            <p class="main-error">{{error.message}}</p>
            {{/if}}
        </section>
    </main>